body {
  font-family: Arial, sans-serif;
}

input {
  padding: 3px 5px;
  border: 1px solid gray;
  border-radius: 3px;
}

.list {
  list-style-type: none;
  margin: 0;
  opacity: 0;
  padding: 4px 7px;
  position: absolute;
  margin-left: -1000px;
  background: white;
  box-shadow: 1px 1px 6px rgb(195, 195, 195);
  border-radius: 2px;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.list li {
  padding: 3px 5px;
  cursor: pointer;
}

.list li:hover {
  background: lightgray;
}

.show .list { 
  margin-left: 0;
  opacity: 1;
}

.list li .amount {
  display: inline-block;
  padding: 2px 3px;
  background-color: rgb(83, 177, 211);
  border-radius: 3px;
  margin: 0 0 3px 10px;
  font-size: 65%;
  color: white;
}
